$positive_bg: #387ef5;
$positive_fg: #fff;
$positive_900_bg: #1A237E;
$positive_900_fg: #fff;
$positive_100_bg: #C5CAE9;
$positive_100_fg: #fff;

$calm_bg: #2196F3;
$calm_fg: #fff;
$calm_900_bg: #0D47A1;
$calm_900_fg: #fff;
$calm_100_bg: #BBDEFB;
$calm_100_fg: #fff;
