<ion-view>
    <ion-content class="bots">
        <h1>Bots</h1>
        <button ng-click="vm.toggleAddBotForm()">Toggle Bot From</button>
        <form ng-show="vm.showAddBotForm" ng-submit="vm.addBot(addBotForm.$valid, vm.bot.service, vm.bot.token)" name="addBotForm" novalidate>
            <div class="title">
                <h3>Add Bot</h3>
            </div>
            <div class="list">
                <select class="item item-input" ng-class="{'invalid': !addBotForm.tokenField.$valid && addBotForm.$submitted}" required name="serviceField" ng-model="vm.bot.service">
                    <option value="" selected>Choose service</option>
                    <option value="Viber">Viber</option>
                </select>
                <label class="item item-input" ng-class="{'invalid': !addBotForm.tokenField.$valid && addBotForm.$submitted}">
                    <input placeholder="token" highlight-color="energized" type="text" required name="tokenField" ng-model="vm.bot.token" autocomplete="off" autocapitalize="none"></input>
                </label>
            </div>
            <div class="submit-button">
                <button class="button button-block button-main action" type="submit">Add Bot</button>
            </div>
        </form>
        <div class="title">
            <h3>Bots list</h3>
        </div>
        <ion-list>
            <ion-item class="item" ng-repeat="bot in vm.bots">
                <p>{{bot.service}}</p>
                <p>{{bot.token}}</p>
                <p>{{bot.id}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>