<ion-view class="log-in-page">
    <ion-content>
        <div class="log-in">
            <form ng-submit="vm.loginUser(loginForm.$valid, vm.user.email, vm.user.password)" name="loginForm" novalidate autocomplete="nope">
                <div class="title">
                    <h1>FanCo</h1>
                </div>
                <div class="list">
                    <label class="item item-input" ng-class="{'invalid': !loginForm.emailField.$valid && loginForm.$submitted}">
                    <ion-md-input placeholder="Email" highlight-color="balanced" type="text" required name="emailField" ng-model="vm.user.email" autocomplete="nope" autocapitalize="none"></ion-md-input>
                    </label>
                    <label class="item item-input" ng-class="{'invalid': !loginForm.passwordField.$valid && loginForm.$submitted}">
                    <ion-md-input placeholder="Password" highlight-color="energized" type="password" required name="passwordField" ng-model="vm.user.password" autocomplete="nope" autocapitalize="none"></ion-md-input>
                    </label>
                </div>
                <div class="submit-button">
                    <button class="button button-block button-positive action" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>