<ion-view>
    <div class="bar bar-subheader bar-stable text-center">
        <strong class="title">Publish</strong>
    </div>
    <ion-content class="events-page">
        <div class="im-wrapper">
            <div class="list text-center">
                <button ng-click="vm.toggleAllEvents()" class="button button-positive" ng-show="!vm.showAllEvents && !!vm.allEvents.length">
                    <p>Load All</p>
                    <!--<p ng-show="vm.showAllEvents">Load Newest</p>-->                    
                </button>
                <div ng-if="vm.showAllEvents" ng-repeat="all in vm.allEvents" class="list card stable-bg">
                    <div class="item item-body" ng-class="{ 'not-sent': !all.sent }">
                        <strong>
                            {{all.postedBy}}
                            <br>
                            {{all.timestamp.format("DD/MM/YYYY HH:mm[h]")}}
                        </strong>
                        <p>{{all.content}}</p>
                    </div>
                </div>
                <div ng-if="!vm.showAllEvents" ng-repeat="newest in vm.newestEvents" class="list card stable-bg">
                    <div class="item item-body" ng-class="{ 'not-sent': !newest.sent }">
                        <strong>
                            {{newest.postedBy}}
                            <br>
                            {{newest.timestamp.format("DD/MM/YYYY HH:mm[h]")}}
                        </strong>
                        <p>{{newest.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-calm-100">
        <div class="event-input">
            <input refocus type="text" placeholder="Write new message..." ng-model="vm.newEvent.content">
        </div>
        <div class="buttons buttons-right">
            <button class="button button-calm-900 button-fab ion-paper-airplane" type="button" ng-click="vm.sendNewEvent(vm.newEvent)"></button>
        </div>
    </div>
</ion-view>