body {
    font-family: 'Exo', sans-serif !important;

    .bar.bar-header {
        background: url('/images/background.jpg') 50% 20%;
        h2 {
            display: block;
            margin: auto;
        }
    }
}