$alert_background: rgba(216, 8, 121, .5);
$alert_border: rgba(216, 8, 121, 1);
$alert_text: #fff;
$background_color: rgba(37, 40, 48, 1);
$blue_background: rgba(0, 172, 237, .5);
$blue_background: rgba(28, 168, 221, 1);
$blue_border: rgba(0, 172, 237, 1);
$gray_01: #434857;
$gray_border: rgba(81, 88, 106, 1);
$gray_input: rgba(67, 72, 87, 1);
$header_height: 45px;
$input_placeholder: rgba(207, 210, 218, 1);
$input_text: rgba(207, 210, 218, 1);
$side_menu_background: rgba(24, 25, 29, 1);
$max_card_width: 600px;
$login_background: url('/images/background.jpg') 50% 20%;
$general_background: url('/images/chat-background.jpg') 50% 20%;
$header_background: url('/images/background.jpg') 50% 20%;
$header_side_background: url('/images/background.jpg') 50% 20%;
$footer_background: #BBDEFB;
$form_background: #fff;